.base-button {
  @apply relative flex justify-center items-center rounded;
  background-color: var(--color-form-bg);
  color: var(--color-form-hover-color);

  &.click {
    background-color: var(--color-primary);
    color: var(--color-text-active);
  }
  &:hover {
    color: var(--color-text-hover);
  }
  &:disabled {
    color: var(--color-border-gray);
  }
}

.default-button {
  @apply h-9 min-w-[64px] px-4 bg-slate-50 dark:bg-zinc-800;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  &:hover {
    &::before {
      @apply block absolute inset-0 bg-current content-[''] opacity-10 w-full h-full rounded ease-in duration-200;
    }
  }
}
